<div class="top">
  <div class="row">
    <div class="col-md-12">
      <span>
        <mat-form-field appearance="outline">
          <mat-label>Movie Name</mat-label>
          <input matInput placeholder="Placeholder" />
        </mat-form-field>
      </span>
      <span>
        <mat-form-field appearance="outline">
          <mat-label>Year</mat-label>
          <input matInput placeholder="Placeholder" />
          <mat-hint>For precise result add year</mat-hint>
        </mat-form-field>
      </span>
      <span>
        <button mat-raised-button (click)="search()">Search</button>
      </span>
    </div>
  </div>
  <div class="center">
    <mat-card class="example-card">
    
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  
        <p>Rated</p>
        <p>Released</p>
        <p>Runtime</p>
        <p>Genre</p>
        <p>Director</p>
        <p>Writer</p>
        <p>Actors</p>
        <p>Plot</p>
        <p>Languages</p>
        <p>Country</p>
        <p>Awards</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Add To List</button>
        
      </mat-card-actions>
    </mat-card>
  </div>
  
  
</div>
