.top {
  padding-top: 3%;
  text-align: center;
 
}

span {
  padding-left: 5%;
}

.center{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.example-card {
  max-width: 400px;
}

.side{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.scroll{ 
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  
  width: 600px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}